*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
  

}
body{
   background-image: url(./background-5050213_1280.webp);

}

.box{
    
    margin: auto;
    margin-top: 20px;
    
    width:40rem;
    height:39rem;
    border: 4px solid rgb(244, 244, 241);
    border-radius: 5px;
     background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /* adds blur to background */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;




}
input{
  padding: 3px;

    margin: 10px;
    border:2px solid black;
    background-color: aliceblue;
}

p{      
      margin-top: 3px;;
      color: rgb(231, 245, 149);
       background-color: rgb(247, 4, 4);
}
 .center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;       /* No full-page height */
  margin-top: 20px;   /* Optional spacing */
}



#signup {
  padding: 10px 20px;
  font-size: 16px;
}

 